# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Packages
**/packages/
**/node_modules/
**/bower_components/

# Logs
*.log
*.log.*

# Test Results
TestResults/
*.trx
*.coverage

# Rider
.idea/

# ReSharper
*.resharper

# Local settings
*.userprefs